<div ng-controller="JobController">
<table border="1">
<tr>
<td>Job Designation</td>
<td>Company Name</td>
<td>CTC</td>
<td>Job Location</td>
<td>Last Date</td>
<td>Skills</td>
<td ng-show="currentUser.role=='ROLE_ADMIN'">Action</td>
</tr>
<tr ng-repeat="job in jobdata">
<td>{{job.jobDesignation}}</td>
<td>{{job.companyName}}</td>
<td>{{job.ctc}}</td>
<td>{{job.jobLocation}}</td>
<td>{{job.lastDate}}</td>
<td>{{job.skills}}</td>
<td ng-show="currentUser.role=='ROLE_ADMIN'"><button ng-click="deleteJob(job.jobId)">Delete</button></td>
</tr>
</table>
</div>